.cart {
  @extend .product-detail;

  &__primary__button {
    @media (max-width: 632px) {
      width: 100%;
    }
  }

  &__count {
    text-align: center;
  }

  .cart__counter {
    &--view {
      margin-right: 16px;
      @media (max-width: 632px) {
        margin-top: 20px;
        margin-right: 0;
      }
    }

    & > button {
      width: 45px;
      height: 45px;

      & > img {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__counter {
    flex-direction: column;
    justify-content: space-between;

    &--view {
      @media (max-width: 632px) {
        flex-direction: row;
      }

      & > span {
        @media (max-width: 632px) {
          vertical-align: middle;
          line-height: 45px;
        }
      }
    }

    & > button {
      background-color: $--c-white;
      width: 24px;
      height: 24px;
      border: 1px solid $--c-text;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        width: 8px;
        height: 8px;
      }

    }

    & > span {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 1em;
      line-height: 1.6;
      color: $--c-text;
      text-align: center;
    }
  }

  &__item {
    width: 100%;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;


    @media (max-width: 632px) {
      flex-direction: column;
    }

    &-wrapper {
      width: 100%;
    }

    &-gallery {
      &--view {
        @media (max-width: 632px) {
          flex-direction: column-reverse;
          margin-top: 40px;
        }
      }
    }

    &-detail__info {
      & > a {
        text-decoration: none;
      }

      &-title {
        @extend .product-detail__info-title;
        line-height: 0.9;
      }

      &-subtitle {
        @extend .product-detail__info-subtitle;
        line-height: 0.9;
      }

      .info {

        &__price, &__size {
          margin-top: 20px;
        }

        &__swatch {
          margin-top: 16px;
        }

      }
    }

  }

  &__image {
    height: 288px;
    width: 200px;
    position: relative;

    @media (max-width: 632px) {
      width: 100%;
    }

    & > img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    &-controllers {
      position: absolute;
      bottom: 16px;
      right: 16px;

      @media (max-width: 632px) {
        bottom: 24px;
        right: 24px;
      }

      & > button {
        border: none;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.73);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width: 632px) {
          transform: scale(2);
        }

        &:nth-child(2) > img {
          transform: rotate(180deg);
          position: relative;
          top: -1px;
        }

        &:nth-child(1) {
          margin-right: 8px;

          @media (max-width: 632px) {
            margin-right: 50px;
          }
        }

      }

    }

  }

  &__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &__items {
    margin-top: 55px;

    &-wrapper {
      width: 100%;
    }
  }

  &__price-checkout {
    column-gap: 8px;
    margin-top: 32px;

    &--left, &--right {
      p {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1.166;
        margin-bottom: 8px;
      }
    }

    &--left p:last-child {
      font-weight: 500;
    }

    &--right {
      p {
        font-weight: 700;
      }
    }

  }

}