.navigation {
  height: 80px;
  padding-top: 16px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: $--c-white;

  nav > ul {
    padding: 0;
    margin-top: 8px;

    & > li {
      list-style-type: none;

      & > a {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 1em;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 16px 35px 16px;
        color: $--c-text;

        &.active,
        &:hover {
          font-weight: 600;
          color: $--c-primary;
          border-bottom: 2px solid $--c-primary;
        }

      }
    }
  }

  &__logo {
    width: 71px;
    margin: auto 0;

    & > img {
      width: 41px;
      height: 41px;
    }
  }

  &__links {
    width: calc((100% - 71px) / 2);

    & > ul {
      display: flex;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__buttons {
    margin: auto 0;
    width: calc((100% - 71px) / 2);
    align-items: center;
    justify-content: flex-end;
    column-gap: 22px;
  }

  &__choose-currency {
    cursor: pointer;
    user-select: none;

    &-wrapper {
      position: relative;

      .currency-sign {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.6;
      }
      .choose-currency__arrow {
        width: 8px;
        height: 4px;
        margin-left: 10px;
        position: relative;
        top: -1px;
        transition: top 0.2s;
      }
    }

    &:hover > .choose-currency__arrow {
      top: -3px;
    }
  }

  &__cart {
    cursor: pointer;
    margin-top: 3px;
    position: relative;

    @media (max-width: 428px) {
      position: static;
    }

    &--count {
      position: absolute;
      top: -9px;
      right: -11px;
      width: 20px;
      height: 20px;
      border-radius: 1000px;
      display: flex;
      align-self: center;
      justify-content: center;
      background-color: $--c-text;

      @media (max-width: 428px) {
        top: 19px;
        right: 9px;
      }

      & > span {
        color: $--c-white;
        font-family: 'Roboto', sans-serif;
        font-size: 0.875em;
        font-weight: bold;
        line-height: 1.5;
      }
    }

    & > img {
      width: 20px;
      height: 20px;
    }
  }

}

.cart__wrapper {
  z-index: 1;
  position: absolute;
  top: 52px;
  right: -30px;
  background-color: $--c-white;
  width: 325px;
  padding: 32px 16px;

  &.cart__wrapper {
    @media (max-width: 428px) {
      position: fixed;
      right: auto;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-buttons {
    column-gap: 12px  ;

    .secondary__button, .primary__button {
      font-size: 0.875em;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &-heading {
    h4, span {
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
      color: $--c-text;
    }
    h4 {
      font-weight: 600;
    }
    span {
      font-weight: 500;
    }
  }

  &-items {
    @extend %custom_scrollbar;

    row-gap: 40px;
    flex-direction: column;
    margin-top: 32px;
    max-height: 420px;
    overflow-y: auto;

    & > li {
      justify-content: space-between;
      .cart {
        &__info {
          font-family: 'Raleway', sans-serif;
          font-size: 1em;
          line-height: 160%;
          color: $--c-text;
          width: 109px;

          & > a {
            text-decoration: none;
            color: $--c-black;
            max-width: 120px;
          }

          & > h4 {
            line-height: 23.7px;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
          }

          & > span {
            font-weight: 500;
            margin-top: 4px;
          }
        }


        &__text, &__swatch {
          margin-top: 8px;
          font-family: 'Raleway', sans-serif;
          font-size: 0.875em;
          font-weight: 300;
          line-height: 160%;
          color: $--c-text;
          position: relative;
          width: 100%;

          &--items {
            flex-wrap: wrap;
            margin-top: 8px;
            gap: 8px;

            & > div {

              &:is(.cart__text--items--active) {
                color: $--c-white;
                background-color: $--c-text;
              }

              & > span {
                padding: 4px;
              }

              min-width: fit-content;
              flex-shrink: 0;
              font-family: 'Source Sans Pro', sans-serif;
              text-transform: uppercase;
              font-weight: 300;
              font-size: 0.875em;
              line-height: 1.6;
              color: $--c-text;
              border: 1px solid $--c-text;
              width: 24px;
              height: 24px;
              text-align: center;
            }
          }
        }

        &__swatch {
          &--items > div {
            width: 16px;
            height: 16px;
            border: 1px solid $--c-white;

            &:is(.cart__swatch--items--active) {
              border: 1px solid $--c-white;
              outline: 1px solid $--c-primary;
            }
          }
        }


        &__image {
          flex-shrink: 0;
          width: 121px;
          height: 100%;
          min-height: 190px;
          & > img {
            object-fit: contain;
          }
        }
      }
    }
  }

  &-total {
    margin-top: 41px;

    span {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 1em;
      line-height: 1.125;

      &:last-child {
        font-weight: 700;
      }
    }
  }
}


.burger-mobile {
  display: none;
  padding: 14px 14px 14px 0;
  cursor: pointer;
  width: fit-content;
  transition-duration: .1s;
  * {
    transition-duration: .1s;
  }

  &--active {
    position: relative;

    &.burger-mobile + ul {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 52px;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($--c-white, 0.95);
        row-gap: 20px;
        padding-top: 30px;
        padding-left: 10px;
        z-index: 10;
      }

      & > li a {
        @media (max-width: 768px) {
          padding-bottom: 10px;
        }
      }
    }

    .burger-mobile {
      $translate: -10px;

      &--items {
        transform: translateX(-1 * $translate);
      }

      &--item {

        &:nth-child(2) {
          width: 0;
          position: relative;
          left: 24px;
        }

        &:nth-child(1) {
          transform: rotate(-45deg) translateX($translate);
        }

        &:nth-child(3) {
          transform: rotate(45deg) translateX($translate);
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: block;

  }

  &--items {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &--item {
    &:nth-child(2) {
      width: 16px;
      position: relative;
      left: 8px;
    }

    width: 24px;
    height: 2px;
    background-color: $--c-black;
    border-radius: 10px;
  }
}
