.product-detail {
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  position: relative;

  &__gallery {
    justify-content: flex-start;
    column-gap: 40px;

    @media (max-width: 1120px) {
      width: 50%;
    }

    @media (max-width: 805px) {
      width: 100%;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__info {
    width: 332px;
    flex-shrink: 0;

    @media (max-width: 805px) {
      width: 100%;
      margin-top: 30px;
    }

    .primary__button {
      width: 100%;
    }

    &-title, &-subtitle {
      font-family: "Raleway", sans-serif;
      font-size: 1.875em;
      color: $--c-black;
    }

    &-title {
      font-weight: 600;
    }

    &-subtitle {
      font-weight: 400;
      margin-top: 16px;
    }
  }

  &__spacer {
    width: 9.77%;

    @media (max-width: 1120px) {
      display: none;
    }
  }
}

.gallery {

  &__photos {
    @extend %custom_scrollbar;
    
    flex-shrink: 0;
    max-height: 511px;
    overflow-y: auto;
    overflow-x: hidden;
    row-gap: 40px;
    flex-direction: column;
    padding-right: 20px;

    @media (max-width: 805px) {
      max-width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      flex-direction: row;
      padding-right: 0;
    }

    &--picked {
      border: 1px solid $--c-primary;
    }

    & > img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      border: 1px solid $--c-white;
      cursor: pointer;

      &:is(.gallery__photos--active) {
        border-color: $--c-black;
      }
    }
  }

  &__main {
    width: 610px;
    max-width: 610px;
    height: 511px;
    object-fit: contain;

    @media (max-width: 1120px) {
      width: calc(100% - 100px);
    }

    @media (max-width: 805px) {
      width: 100%;
    }
    @media (max-width: 610px) {
      height: 300px;
    }
  }
}

.info {

  &__text, &__swatch, &__price {
    margin-top: 24px;

    & > span {
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      font-size: 1.125em;
      color: $--c-black;
      line-height: 1;
    }

    &-items {
      display: flex;
      margin-top: 8px;

      & > div {
        cursor: pointer;
      }
    }
  }

  &__swatch {

    &-items {
      column-gap: 8px;

      & > div {

        &:is(.info__swatch-items--active) {
          outline-color: $--c-primary;
        }

        outline: 1px solid $--c-white;
        border: 1px solid $--c-white;
        width: 32px;
        height: 32px;
      }
    }
  }

  &__text {
    margin-top: 43px;

    &-items {
      column-gap: 12px;
      width: 332px;

      @media (max-width: 632px) {
        max-width: 100%;
        overflow-x: auto;
        & > div {
          flex-shrink: 0;
        }
      }

      &--active {
        background-color: $--c-black;

        & > span {
          color: $--c-white;
        }
      }

      & > div {
        width: 63px;
        min-width: fit-content;
        height: 45px;
        text-transform: uppercase;
        border: 1px solid $--c-black;
        color: $--c-black;
        display: flex;
        justify-content: center;
        align-items: center;

        & > span {
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400;
          font-size: 1em;
          padding: 10px;
        }

      }
    }
  }

  &__price {
    margin-top: 36px;

    & > span {
      display: block;
    }

    &-value.info__price-value {
      font-family: "Raleway", sans-serif;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.125em;
      margin-top: 21px;
    }
  }


  &__description {
    @extend %custom_scrollbar;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 159.96%;
    color: $--c-black;
    margin-top: 40px;
    max-height: 150px;
    overflow-y: auto;
  }

}

